@import "bootstrap";
@import "bootstrap-icons";


body {
    background-color: #f4f2de;
}

header {
    padding: 30px;
    width: auto;
    height: 20vw;
    text-align: center;
    border-bottom: solid grey 1px;
}

.newAddBtn,
.loginLinkBtn,
.registerLinkBtn {
    padding: 5px;
    margin: 5px;
    border: solid black 1px;
    background-color: azure;
    text-decoration: none;
    color: black;
}
/* .backgroundMain {
    background-image: url(https://cdn.discordapp.com/attachments/1139637535828607086/1139638157416071260/header.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
} */

.blurBackGround {
    background-color: #a1ccd1; /* Opacità del 70% */
    backdrop-filter: blur(20px);
}

.buttonColor {
    background-color: rgba(255, 255, 255, 0.5); /* Opacità del 70% */
    backdrop-filter: blur(100px);
}

.dropDownMenuBg {
    background-color: rgba(51, 50, 50, 0.9); /* Opacità del 70% */
    backdrop-filter: blur(100px);
}

.errorBackground {
    background-color: rgba(0, 0, 0, 0.6); /* Opacità del 70% */
    backdrop-filter: blur(100px);
}
