@import "bootstrap";
@import "bootstrap-icons";


body {
    background-color: #f4f2de;
}

header {
    padding: 30px;
    width: auto;
    height: 20vw;
    text-align: center;
    border-bottom: solid grey 1px;
}

.newAddBtn,
.loginLinkBtn,
.registerLinkBtn {
    padding: 5px;
    margin: 5px;
    border: solid black 1px;
    background-color: azure;
    text-decoration: none;
    color: black;
}

.colorNavbar {
    background-color: #a1ccd1; /* Opacità del 70% */
}

.BackGroundcolor {
    background-color: #7c9d96; /* Opacità del 70% */
}

.buttonColor {
    background-color: #e9b384; /* Opacità del 70% */
}

.shadow {
    box-shadow: rgba(156, 95, 134, 0.4) -5px 5px;
}

.imgSize {
    height: 300px;
}

.BackGroundIllustration {
}
