@import "bootstrap";
@import "bootstrap-icons";

body {
    background-color: #f4f2de;
}

header {
    padding: 30px;
    width: auto;
    height: 20vw;
    text-align: center;
    border-bottom: solid grey 1px;
}

.newAddBtn,
.loginLinkBtn,
.registerLinkBtn {
    padding: 5px;
    margin: 5px;
    border: solid black 1px;
    background-color: azure;
    text-decoration: none;
    color: black;
}

.colorNavbar {
    background-color: #7c9d96; /* Opacità del 70% */
}

.BackGroundcolor {
    background-color: #7c9d96; /* Opacità del 70% */
}

.buttonColor {
    background-color: #e9b384; /* Opacità del 70% */
}

.BackGroundIllustration {
    box-shadow: rgba(233, 179, 132, 0.4) 5px 5px,
        rgba(233, 179, 132, 0.3) 10px 10px, rgba(233, 179, 132, 0.2) 15px 15px,
        rgba(233, 179, 132, 0.1) 20px 20px, rgba(233, 179, 132, 0.05) 25px 25px;
}

.BackGroundIllustrationReverse {
    box-shadow: rgba(233, 179, 132, 0.4) -5px 5px,
        rgba(233, 179, 132, 0.3) -10px 10px, rgba(233, 179, 132, 0.2) -15px 15px,
        rgba(233, 179, 132, 0.1) -20px 20px,
        rgba(233, 179, 132, 0.05) -25px 25px;
}

.imgSize {
    height: 300px;
}
